@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(170, 168, 168);
}

.customBtn {
  background-color: #34656d;
  border-color: #34656d;
  padding: 5px;
  margin-left: 5px;
  border-radius: 3px;
  color: white;
}

.customBtn:hover {
  background-color: #34656d;
  border-color: #34656d;
}

.customBtn:focus {
  background-color: #34656d;
  border-color: #34656d;
}

.customBtnOutline {
  color: #34656d !important;
  border-color: #34656d !important;
}

.customBtnOutline:hover {
  color: white !important;
  background-color: #34656d !important;
}

.customBtnOutline:focus {
  color: white !important;
  background-color: #34656d !important;
}
